@import '~bootstrap/dist/css/bootstrap.css';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';

#nameEntryForm {
  margin: 5px 0;
}

.page-header {
  margin: 3em 0;
}

#homeProfileImage {
  margin: 0 2em;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

#updateUserProfileImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-wrapper {
  position: relative;
}

table,
th,
td {
  border: 1px solid black;
}
