/* You can add global styles to this file, and also import other style files */
#nameEntryForm {
    margin: 5px 0;
}

.page-header {
    margin: 3em 0;
}

#homeProfileImage {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.col-centered{
    float: none;
    margin: 0 auto;
}